<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Users</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

    <table class="table table-striped">
        <caption>List</caption>
        <thead>
        <tr>
            <th>№</th>   <th>IpAddress</th> <th>UnicleName</th> <th>TimeLastPing</th> <th>Info</th> <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; arrayOfCl.length > i; i++) { %>
        <tr> <td> <%= i %> </td>  <td><%= arrayOfCl[i].ipAddr %> </td> <td><%= arrayOfCl[i].unicleName %> </td> <td><%= arrayOfCl[i].lastPing %> </td> <td><%= arrayOfCl[i].info %> </td> <td><%= arrayOfCl[i].msg %> </td> </tr>
         <% } %>
        </tbody>
    </table>
    <hr>

  <footer>
    <p>&copy; Your Company 2013</p>
  </footer>


</div>

<!-- /container -->