<%- include menu.ejs %>

<div class="container">
    <table class="table table-striped">
        <caption>List</caption>
        <thead>
        <tr>
            <th>№</th>   <th>IpAddress</th> <th>UnicleName</th> <th>TimeLastPing</th>  <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0; arrayOfCl.length > i; i++) { %>
        <tr> <td> <%= i %> </td>  <td><%= arrayOfCl[i].ipAddr %> </td> <td><%= arrayOfCl[i].unicleName %> </td> <td><%= arrayOfCl[i].lastPing %> </td> < <td><%= arrayOfCl[i].msg %> </td> </tr>
         <% } %>
        </tbody>
    </table>
    <hr>
  <footer>
    <p>&copy; AlisterHoffman 2013</p>
  </footer>


</div>

<!-- /container -->